{% extends 'partials/layout.html' %}

{% block content %}
    <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      <script language = "JavaScript">
         $(document).ready(function() {

        // Build the chart
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Percentage of positive, negative and neutral Tweets'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Tweets',
        colorByPoint: true,
        data: [{
            name: 'Positive',
            y: 2403,
            sliced: true,
            selected: true
        }, {
            name: 'Negative',
            y: 310
        }, {
            name: 'Neutral',
            y: 1630
        }]
    }]
});});
      </script>

{% endblock %}
