{% extends 'partials/layout.html' %}

 <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
{% block content %}
    <div id = "container"></div>
    <div id = "container-location"></div>
    <div id = "container1"></div>
      <script language = "JavaScript">

        // Build the chart
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Percentage of positive, negative and neutral Tweets'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
 plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: '{{ chart_name }}',
        colorByPoint: true,
        data: {{ data | safe }}
    }],
    drilldown: {
        series: [
            {
                name: "Positive",
                id: "Positive",
                data:{{ data | safe }}
            },
            {
                name: "Negative",
                id: "Negative",
                data: {{ data | safe }}
            },
            {
                name: "Neutral",
                id: "Neutral",
                data: {{ data | safe }}
            }
        ]
    }
});
Highcharts.chart('container-location', {
    chart: {
        type: 'packedbubble',
        height: '100%'
    },
    title: {
        text:'Tweet Locations'
    },
    tooltip: {
        useHTML: true,
        pointFormat: '<b>{point.name}:</b> {point.value}m CO<sub>2</sub>'
    },
    plotOptions: {
        packedbubble: {
            minSize: '30%',
            maxSize: '120%',
            zMin: 0,
            zMax: 1000,
            layoutAlgorithm: {
                splitSeries: false,
                gravitationalConstant: 0.02
            },
            dataLabels: {
                enabled: true,
                format: '{point.name}',
                filter: {
                    property: 'y',
                    operator: '>',
                    value: 250
                },
                style: {
                    color: 'black',
                    textOutline: 'none',
                    fontWeight: 'normal'
                }
            }
        }
    },
    series: [{
        name:'chart_name2',
        data:{{ data2 | safe }}
    }]
});
      </script>

{% endblock %}
