<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
{% extends 'partials/layout.html' %}

{% block content %}
    <div class="search">
    <h1> Search for a Tweet</h1>
    <form action = "http://localhost:5000/chart" method = "post">
                    <p>Enter a search query:</p>
    <input type = "text" name = "query_one" />
<input class="button" type = "submit" value = "Search" />
</form>
    </div>
{% endblock %}


</body>
</html>