
<div class="container">
    <div class="col-sm-12 center" style="padding-bottom: 20px">
        <header>
            <nav class="navbar navbar-light bg-light">
                <a style="font-family: 'Agency FB'; font-size: 25px" class="nav-link" href="/">Home</a>
                <a style="font-family: 'Agency FB'; font-size: 25px" class="nav-link" href="/static">Static Data Showcase</a>
                <a style="font-family: 'Agency FB'; font-size: 25px" class="nav-link" href="/chart">Input Results</a>
            </nav>
        </header>
    </div>
</div>